<dl class="AssessmentList">
  <div class="AssessmentList__row">
    <dt class="AssessmentList__key"><span>規格等</span></dt>
    <dd class="AssessmentList__value">JIS規格の準拠に相当すると思われるか</dd>
  </div>
  <div class="AssessmentList__row">
    <dt class="AssessmentList__key"><span>遮断性能</span></dt>
    <dd class="AssessmentList__value">正面および上部等からの飛沫の進入を十分に防げるか</dd>
  </div>
  <div class="AssessmentList__row">
    <dt class="AssessmentList__key"><span>運動フィット性</span></dt>
    <dd class="AssessmentList__value">小走りや振り向きなどの運動でズレないか</dd>
  </div>
  <div class="AssessmentList__row">
    <dt class="AssessmentList__key"><span>快適性</span></dt>
    <dd class="AssessmentList__value">息苦しさや接触などの不快感が防止されているか</dd>
  </div>
  <div class="AssessmentList__row">
    <dt class="AssessmentList__key"><span>使用耐久性</span></dt>
    <dd class="AssessmentList__value">使用中に想定される衝突や引っかきに耐えるか</dd>
  </div>
  <div class="AssessmentList__row">
    <dt class="AssessmentList__key"><span>消毒耐久性</span></dt>
    <dd class="AssessmentList__value">アルコールや次亜塩素酸ナトリウム等による除染・消毒に耐えるか</dd>
  </div>
  <div class="AssessmentList__row">
    <dt class="AssessmentList__key"><span>作製容易性</span></dt>
    <dd class="AssessmentList__value">作製に特別な練習を必要としないか</dd>
  </div>
  <div class="AssessmentList__row">
    <dt class="AssessmentList__key"><span>省コスト性</span></dt>
    <dd class="AssessmentList__value">材料の価格や入手などのハードルは低いか</dd>
  </div>
  <div class="AssessmentList__row">
    <dt class="AssessmentList__key"><span>再利用性</span></dt>
    <dd class="AssessmentList__value">適切な除染・消毒による再度利用は可能か</dd>
  </div>
</dl>
