<header class="Header">
  <img class="Header__logo" src="/ppe/image/Logo.svg" alt="Act Against COVID-19" width="332" height="86" />
  <p class="Header__main">
    <span>医療用防護具の代替品</span>
    <span>性能評価と作り方</span>
  </p>
  <p class="Header__note">評価は<a href="http://jrgoicp.umin.ac.jp/">一般社団法人 職業感染制御研究会</a>による</p>
</header>
