<div class="Evaluation__starRating">
  <span class="Evaluation__stars" aria-hidden="true">
    <img src="/ppe/image/star-half.svg" alt="左半分が黒、右半分が白い星" />
    <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
    <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
    <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
    <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
  </span>
  <span class="VisuallyHidden">5段階中</span>
  <span class="Evaluation__starRatingValue">0.5</span>
</div>
