<div class="Evaluation__starRating">
  <span class="Evaluation__stars" aria-hidden="true">
    <img src="/ppe/image/star-black.svg" alt="黒い星" />
    <img src="/ppe/image/star-black.svg" alt="黒い星" />
    <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
    <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
    <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
  </span>
  <span class="VisuallyHidden">5段階中</span>
  <span class="Evaluation__starRatingValue">2</span>
</div>
