
<dl class="TagDescriptions">
  <div class="TagDescriptions__row">
    <dt class="TagDescriptions__key"><span class="TagDescriptions__tag Chip -recommended">医療推奨</span></dt>
    <dd class="TagDescriptions__value">在庫不足時に限り、医療用の代替品として許容できる。</dd>
  </div>
  <div class="TagDescriptions__row">
    <dt class="TagDescriptions__key"><span class="TagDescriptions__tag Chip -not-recommended">医療非推奨</span></dt>
    <dd class="TagDescriptions__value">医療用の代替品として望ましくないが、緊急性が高く、かつ他の代替品の検討がまったく不可能である場合にのみ検討し得る。</dd>
  </div>
  <div class="TagDescriptions__row">
    <dt class="TagDescriptions__key"><span class="TagDescriptions__tag Chip -not-recommended">医療不可</span></dt>
    <dd class="TagDescriptions__value">使用すべきでない。</dd>
  </div>
  <div class="TagDescriptions__row">
    <dt class="TagDescriptions__key"><span class="TagDescriptions__tag Chip">単回使用</span></dt>
    <dd class="TagDescriptions__value">洗浄・消毒しての再利用はすべきでない。</dd>
  </div>
  <div class="TagDescriptions__row">
    <dt class="TagDescriptions__key"><span class="TagDescriptions__tag Chip">再利用可</span></dt>
    <dd class="TagDescriptions__value">洗浄・消毒して再利用できる。</dd>
  </div>
  <div class="TagDescriptions__row">
    <dt class="TagDescriptions__key"><span class="TagDescriptions__tag Chip">手作り可</span></dt>
    <dd class="TagDescriptions__value">一般的な文房具や材料で作製できる。</dd>
  </div>
  <div class="TagDescriptions__row">
    <dt class="TagDescriptions__key"><span class="TagDescriptions__tag Chip">3Dプリンタ</span></dt>
    <dd class="TagDescriptions__value">作製に3Dプリンタを必要とする。</dd>
  </div>
</dl>
