---
date: Last Modified
base: https://covid-19-act.jp/ppe/
public_url: https://covid-19-act.jp/ppe/gown/01.html
og_image: http://covid-19-act.jp/ppe/image/OGP.png
og_image_secure: https://covid-19-act.jp/ppe/image/OGP.png
og_image_width: 1200
og_image_height: 630
og_image_alt: Act Against COVID-19 医療用個人防護具の代替品 性能評価と作り方
og_title_preset: 医療用個人防護具の代替品 性能評価と作り方 - Act Against COVID-19
og_description: 医療用個人防護具（PPE）の在庫不足の際に、正式な規格に基づいてはいないが緊急代用品として使用できるアイテムや自作方法が各所で考案・発表されています。このコンテンツは、それら代替品の性能と作り方について、一般社団法 職業感染制御研究会の有志ならびに認定人間工学専門家、感染管理認定看護師ら学際的専門家で構成される「PPE自作・代用代替品評価チーム」により評価し、ご紹介します。
title: ポリ袋による自作エプロン
title_parent: ガウン一覧
category: gown
permalink: ppe/gown/01.html
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ og_description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }} - {{ og_title_preset }}">
    <meta property="og:title" content="{{ title }} - {{ og_title_preset }}">
    <meta property="og:description" content="{{ og_description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ public_url }}">
    <meta property="og:image" content="{{ og_image }}">
    <meta property="og:image:secure_url" content="{{ og_image_secure }}">
    <meta property="og:image:width" content="{{ og_image_width }}">
    <meta property="og:image:height" content="{{ og_image_height }}">
    <meta property="og:image:alt" content="{{ og_image_alt }}">
    <title>{{ title }} - {{ og_title_preset }}</title>
    <link rel="icon" href="/ppe/image/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="mask-icon" href="/ppe/image/favicon.svg" color="yellow">
    <link rel="icon alternate" href="/ppe/image/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/ppe/image/apple-touch-icon.png" sizes="180x180">
    <link rel="stylesheet" href="/ppe/style.css">
    <link rel="canonical" href="{{ public_url }}">
    {% include "gtag.njk" %}
    {% include "fontplus.njk" %}
  </head>

  <body>
    <nav class="Breadcrumb">
      <a class="Breadcrumb__crumb" href="{{ base }}">トップ</a>
      <img class="Breadcrumb__separator" src="/ppe/image/round-triangle-right.svg" alt="" />
      <a class="Breadcrumb__crumb" href="{{ base }}{{ category }}/">{{ title_parent }}</a>
      <img class="Breadcrumb__separator" src="/ppe/image/round-triangle-right.svg" alt="" />
      <b class="Breadcrumb__crumb" aria-current="page">{{ title }}</b>
    </nav>
    {% include "header.njk" %}

    <article class="Article">
      <h1 class="Article__title">{{ title }}</h1>
      <ul class="Article__meta">
        <li><span class="Chip">手作り可</span></li>
        <li><span class="Chip">単回使用</span></li>
        <li><span class="Chip -recommended">医療推奨</span></li>
      </ul>
      <div class="DetailInfo">
        <img class="DetailInfo__image" src="/ppe/image/photos/gown-01_cover.jpg" alt="">
        <dl class="MetaInformationList">
          <div class="MetaInformationList__item">
            <dt class="MetaInformationList__label"><span>概評</span></dt>
            <dd class="MetaInformationList__value">緊急的自作として医療現場での実用レベル</dd>
          </div>
          <div class="MetaInformationList__item">
            <dt class="MetaInformationList__label"><span>考案者</span></dt>
            <dd class="MetaInformationList__value">大阪大学</dd>
          </div>
          <div class="MetaInformationList__item">
            <dt class="MetaInformationList__label"><span>公表日</span></dt>
            <dd class="MetaInformationList__value"><time datetime="2020-04-16">2020年4月16日</time></dd>
          </div>
          <div class="MetaInformationList__item">
            <dt class="MetaInformationList__label"><span>評価日</span></dt>
            <dd class="MetaInformationList__value"><time datetime="2020-04-24">2020年4月24日</time></dd>
          </div>
        </dl>
      </div>

      <section class="Section -hasSeparator" id="General-comment">
        <header class="HeadingAnchor">
          <h2>総合評価</h2>
          <a href="#General-comment"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <ul class="BulletedList">
            <li>入手しやすいポリ袋による簡便で自作できるガウン・エプロンである</li>
            <li>袖を作成することで、ガウンとして代用できる</li>
            <li>ポリ袋にはサイズが複数あり、着用者の身長等のサイズに合わせて自作できる</li>
            <li>単回仕様が基本</li>
            <li>低コストであるが、作る手間がかかる</li>
            <li>設計図を要し、作成には慣れが必要</li>
            <li>ハサミとシーラー（袖付け）で作成可能</li>
          </ul>
        </div>
      </section>

      <section class="Section -hasSeparator" id="Uses-table">
        <header class="HeadingAnchor">
          <h2>用途早見表</h2>
          <a href="#Uses-table"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="UsesTable">
          <dl class="UsesTable__body">
            <div class="UsesTable__item">
              <dt class="UsesTable__key">エアロゾル発生処置等</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
            <div class="UsesTable__item">
              <dt class="UsesTable__key">発熱外来</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
            <div class="UsesTable__item">
              <dt class="UsesTable__key">一般診療</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
            <div class="UsesTable__item">
              <dt class="UsesTable__key">観血的処置（採血等）</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
            <div class="UsesTable__item">
              <dt class="UsesTable__key">病院受付業務</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
            <div class="UsesTable__item">
              <dt class="UsesTable__key">介護施設</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
          </dl>
          <div class="UsesTable__caption">
            <p><strong>ただし、エアロゾル発生処置と発熱外来での使用においては、手首までの袖付きに限る。</strong></p>
            <p>エアロゾル発生処置：気管挿管、喀痰吸引、気道検体採取など、気道にアプローチする処置。</p>
          </div>
        </div>
      </section>

      <section class="Section -hasSeparator" id="How-to-make">
        <header class="HeadingAnchor">
          <h2>作り方</h2>
          <a href="#How-to-make"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p style="text-align: center"><a class="Btn -autoSize" href="https://www.hosp.med.osaka-u.ac.jp/topics/files/document/news_document_0409_20200416.pdf">感染対策用ガウン作成方法について(598KB)</a></p>
        </div>
      </section>

      <section class="Section -hasSeparator" id="Evaluations">
        <header class="HeadingAnchor">
          <h2>評価詳細</h2>
          <a href="#Evalutations"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <dl class="EvaluationsList">
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">規格等</dt>
            <dd class="EvaluationsList__content">
              <span class="EvaluationsList__description">JIS規格等の準拠に相当すると思われるか</span>
              <b>非準拠</b>
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">飛沫防護性</dt>
            <dd class="EvaluationsList__content">
              <span class="EvaluationsList__description">正面および上部等からの飛沫の進入を十分に防げるか</span>
              {% include "rating-5.njk" %}
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">運動フィット性</dt>
            <dd class="EvaluationsList__content">
              <span class="EvaluationsList__description">小走りや振り向きなどの運動でズレないか</span>
              {% include "rating-4.njk" %}
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">快適性</dt>
            <dd class="EvaluationsList__content">
              <span class="EvaluationsList__description">息苦しさや接触などの不快感が防止されているか</span>
              {% include "rating-3.njk" %}
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">使用耐久性</dt>
            <dd class="EvaluationsList__content">
              <span class="EvaluationsList__description">使用中に想定される衝突や引っかきに耐えるか</span>
              {% include "rating-2.njk" %}
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">消毒耐久性</dt>
            <dd class="EvaluationsList__content">
              <span class="EvaluationsList__description">アルコールや次亜塩素酸ナトリウムによる除染・消毒に耐えるか</span>
              {% include "rating-2.njk" %}
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">作製容易性</dt>
            <dd class="EvaluationsList__content">
              <span class="EvaluationsList__description">作製に特別な練習を必要としないか</span>
              {% include "rating-5.njk" %}
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">省コスト性</dt>
            <dd class="EvaluationsList__content">
              <span class="EvaluationsList__description">材料の価格や入手などのハードルは低いか</span>
              {% include "rating-5.njk" %}
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">再利用性</dt>
            <dd class="EvaluationsList__content">
              <span class="EvaluationsList__description">適切な除染・消毒による再度利用は可能か</span>
              {% include "rating-1.njk" %}
            </dd>
          </div>
        </dl>
        <div class="Section__inner">
          <div class="CallForReview">
            <p>このアイテムは、臨床での使用に基づくレビューを募集しています。お送り頂いたレビューは匿名を厳守し、評価精度の向上に役立てます。</p>
            <p><a class="Btn" href="https://forms.gle/dFLxuhGUGii5QSFm6">レビューを書く <img src="/ppe/image/external.svg" alt="外部サイトへ移動します"></a></p>
          </div>
        </div>
      </section>

      <section class="Section -hasSeparator" id="Precautions">
        <header class="HeadingAnchor">
          <h2>使用上の注意</h2>
          <a href="#Precautions"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <ul class="BulletedList">
            <li>COVID-19診療、エアロゾル発生手技等では袖が必要</li>
            <li>一人では脱げないので脱衣時に補助者が必要</li>
            <li>前面が汚染しているため、背部を切って脱衣する</li>
            <li>ポリ袋の強度によって、破れやすい</li>
          </ul>
        </div>
      </section>

      <section class="Section -hasSeparator" id="Call-for-improvements-idea">
        <header class="HeadingAnchor">
          <h2>改良案の募集</h2>
          <a href="#Call-for-improvements-idea"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <ul class="BulletedList">
            <li>診療場面にあわせた大きさや形状の雛形が多く公開されると利用しやすい</li>
            <li>原材料のポリ袋のうち、どの材料が丈夫であるか否かなどの情報が公開されるとよい</li>
          </ul>
        </div>
      </section>

    </article>
    {% include "footer.njk" %}
  </body>
</html>
