---
date: Last Modified
base: https://covid-19-act.jp/ppe/
public_url: https://covid-19-act.jp/ppe/face-shield/03.html
og_image: http://covid-19-act.jp/ppe/image/OGP.png
og_image_secure: https://covid-19-act.jp/ppe/image/OGP.png
og_image_width: 1200
og_image_height: 630
og_image_alt: Act Against COVID-19 医療用防護具の代替品 性能評価と作り方
og_title_preset: 医療用防護具の代替品 性能評価と作り方 - Act Against COVID-19
og_description: 医療用防護具の在庫不足の際に、正式な規格に基づいてはいないが緊急代替品として使用できるアイテムとその作り方が考案・発表されています。本サイトでは、一般社団法人 職業感染制御研究会による性能評価を加えてご紹介します。
title: クリアファイルと3Dプリンタで作るフェイスシールド
title_parent: ゴーグルとフェイスシールド一覧
category: face-shield
permalink: ppe/face-shield/03.html
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ og_description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }} - {{ og_title_preset }}">
    <meta property="og:title" content="{{ title }} - {{ og_title_preset }}">
    <meta property="og:description" content="{{ og_description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ public_url }}">
    <meta property="og:image" content="{{ og_image }}">
    <meta property="og:image:secure_url" content="{{ og_image_secure }}">
    <meta property="og:image:width" content="{{ og_image_width }}">
    <meta property="og:image:height" content="{{ og_image_height }}">
    <meta property="og:image:alt" content="{{ og_image_alt }}">
    <title>{{ title }} - {{ og_title_preset }}</title>
    <link rel="icon" href="/ppe/image/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="mask-icon" href="/ppe/image/favicon.svg" color="yellow">
    <link rel="icon alternate" href="/ppe/image/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/ppe/image/apple-touch-icon.png" sizes="180x180">
    <link rel="stylesheet" href="/ppe/style.css">
    <link rel="canonical" href="{{ public_url }}">
    {% include "gtag.njk" %}
    {% include "fontplus.njk" %}
  </head>

  <body>
    <nav class="Breadcrumb">
      <a class="Breadcrumb__crumb" href="{{ base }}">トップ</a>
      <img class="Breadcrumb__separator" src="/ppe/image/round-triangle-right.svg" alt="" />
      <a class="Breadcrumb__crumb" href="{{ base }}{{ category }}/">{{ title_parent }}</a>
      <img class="Breadcrumb__separator" src="/ppe/image/round-triangle-right.svg" alt="" />
      <b class="Breadcrumb__crumb" aria-current="page">{{ title }}</b>
    </nav>
    {% include "header.njk" %}

    <article class="Article">
      <h1 class="Article__title">{{ title }}</h1>
      <ul class="Article__meta">
        <li><span class="Chip">3Dプリンタ</span></li>
        <li><span class="Chip">単回使用</span></li>
        <li><span class="Chip -not-recommended">医療非推奨</span></li>
      </ul>
      <div class="DetailInfo">
        <img class="DetailInfo__image" src="/ppe/image/photos/face-shield-03_cover.jpg" alt="">
        <dl class="MetaInformationList">
          <div class="MetaInformationList__item">
            <dt class="MetaInformationList__label"><span>概評</span></dt>
            <dd class="MetaInformationList__value">3Dプリンタが必要だが医療現場の実用レベル</dd>
          </div>
          <div class="MetaInformationList__item">
            <dt class="MetaInformationList__label"><span>考案者</span></dt>
            <dd class="MetaInformationList__value">大阪大学 次世代内視鏡治療学共同研究講座</dd>
          </div>
          <div class="MetaInformationList__item">
            <dt class="MetaInformationList__label"><span>公表日</span></dt>
            <dd class="MetaInformationList__value"><time datetime="2020-04-03">2020年4月03日</time></dd>
          </div>
          <div class="MetaInformationList__item">
            <dt class="MetaInformationList__label"><span>評価日</span></dt>
            <dd class="MetaInformationList__value"><time datetime="2020-04-24">2020年4月24日</time></dd>
          </div>
        </dl>
      </div>

      <section class="Section -hasSeparator" id="General-comment">
        <header class="HeadingAnchor">
          <h2>総合評価</h2>
          <a href="#General-comment"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p>フレームの作製に3Dプリンタが必要。上部・下部・側部がカバーされ、防護性能は高い。クリアファイルの切り方のパターンがいくつか用意されている。前方に長いパターンは挿管などの覗き込む作業には不向き。脱着時に汚染部に触れないよう設計されている。フレームは再利用でき、クリアファイルを交換する方式なので、シールド部の消毒は不要となり、運用が容易。3Dのフレーム部分のみの作成支援でも可。</p>
        </div>
      </section>

      <section class="Section -hasSeparator" id="Uses-table">
        <header class="HeadingAnchor">
          <h2>用途早見表</h2>
          <a href="#Uses-table"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="UsesTable">
          <dl class="UsesTable__body">
            <div class="UsesTable__item">
              <dt class="UsesTable__key">エアロゾル発生処置等</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
            <div class="UsesTable__item">
              <dt class="UsesTable__key">発熱外来</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
            <div class="UsesTable__item">
              <dt class="UsesTable__key">一般診療</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
            <div class="UsesTable__item">
              <dt class="UsesTable__key">観血的処置（採血等）</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
            <div class="UsesTable__item">
              <dt class="UsesTable__key">病院受付業務</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
            <div class="UsesTable__item">
              <dt class="UsesTable__key">介護施設</dt>
              <dd class="UsesTable__value"><img src="/ppe/image/OK.svg" alt="OK" /></dd>
            </div>
          </dl>
          <p class="UsesTable__caption">エアロゾル発生処置：気管挿管、喀痰吸引、気道検体採取など、気道にアプローチする処置。</p>
        </div>
      </section>

      <section class="Section -hasSeparator" id="How-to-make">
        <header class="HeadingAnchor">
          <h2>作り方</h2>
          <a href="#How-to-make"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <figure class="HowToMakeMovie">
          <blockquote class="HowToMakeMovie__contents">
            <div class="FlexibleFrame">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/GjNjtrcfiCE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </blockquote>
          <figcaption class="HowToMakeMovie__credit">
          出典: <cite><a href="http://www.project-engine.org/faceshield.html">フェースシールド 3D データ 大阪大学大学院医学系研究科 次世代内視鏡治療学共同研究講座（プロジェクトENGINE）</a></cite>
          </figcaption>
        </figure>
      </section>

      <section class="Section -hasSeparator" id="Evaluations">
        <header class="HeadingAnchor">
          <h2>評価詳細</h2>
          <a href="#Evalutations"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <dl class="EvaluationsList">
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">規格等</dt>
            <dd class="EvaluationsList__content">
              <b>非準拠</b>
              <span class="EvaluationsList__description">JIS規格の準拠に相当すると思われるか</span>
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">飛沫防護性</dt>
            <dd class="EvaluationsList__content">
              <div class="Evaluation__starRating">
                <span class="Evaluation__stars" aria-hidden="true">
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                </span>
                <span class="VisuallyHidden">5段階中</span>
                <span class="Evaluation__starRatingValue">5</span>
              </div>
              <span class="EvaluationsList__description">正面および上部等からの飛沫の進入を十分に防げるか</span>
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">運動フィット性</dt>
            <dd class="EvaluationsList__content">
              <div class="Evaluation__starRating">
                <span class="Evaluation__stars" aria-hidden="true">
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                </span>
                <span class="VisuallyHidden">5段階中</span>
                <span class="Evaluation__starRatingValue">4</span>
              </div>
              <span class="EvaluationsList__description">小走りや振り向きなどの運動でズレないか</span>
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">快適性</dt>
            <dd class="EvaluationsList__content">
              <div class="Evaluation__starRating">
                <span class="Evaluation__stars" aria-hidden="true">
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                </span>
                <span class="VisuallyHidden">5段階中</span>
                <span class="Evaluation__starRatingValue">4</span>
              </div>
              <span class="EvaluationsList__description">息苦しさや接触などの不快感が防止されているか</span>
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">使用耐久性</dt>
            <dd class="EvaluationsList__content">
              <div class="Evaluation__starRating">
                <span class="Evaluation__stars" aria-hidden="true">
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                </span>
                <span class="VisuallyHidden">5段階中</span>
                <span class="Evaluation__starRatingValue">3</span>
              </div>
              <span class="EvaluationsList__description">使用中に想定される衝突や引っかきに耐えるか</span>
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">消毒耐久性</dt>
            <dd class="EvaluationsList__content">
              <div class="Evaluation__starRating">
                <span class="Evaluation__stars" aria-hidden="true">
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                </span>
                <span class="VisuallyHidden">5段階中</span>
                <span class="Evaluation__starRatingValue">2</span>
              </div>
              <span class="EvaluationsList__description">アルコールや次亜塩素酸ナトリウムによる除染・消毒に耐えるか</span>
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">作製容易性</dt>
            <dd class="EvaluationsList__content">
              <div class="Evaluation__starRating">
                <span class="Evaluation__stars" aria-hidden="true">
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                </span>
                <span class="VisuallyHidden">5段階中</span>
                <span class="Evaluation__starRatingValue">2</span>
              </div>
              <span class="EvaluationsList__description">作製に特別な練習を必要としないか</span>
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">省コスト性</dt>
            <dd class="EvaluationsList__content">
              <div class="Evaluation__starRating">
                <span class="Evaluation__stars" aria-hidden="true">
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                  <img class="Evaluation__star -white" src="/ppe/image/star-white.svg" alt="白い星" />
                </span>
                <span class="VisuallyHidden">5段階中</span>
                <span class="Evaluation__starRatingValue">3</span>
              </div>
              <span class="EvaluationsList__description">材料の価格や入手などのハードルは低いか</span>
            </dd>
          </div>
          <div class="EvaluationsList__item">
            <dt class="EvaluationsList__head">再利用性</dt>
            <dd class="EvaluationsList__content">
              <div class="Evaluation__starRating">
                <span class="Evaluation__stars" aria-hidden="true">
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-black.svg" alt="黒い星" />
                  <img src="/ppe/image/star-half.svg" alt="左半分が黒、右半分が白い星" />
                </span>
                <span class="VisuallyHidden">5段階中</span>
                <span class="Evaluation__starRatingValue">4.5</span>
              </div>
              <span class="EvaluationsList__description">適切な除染・消毒による再度利用は可能か</span>
            </dd>
          </div>
        </dl>
        <div class="Section__inner">
          <div class="CallForReview">
            <p>このアイテムは、臨床での使用に基づくレビューを募集しています。お送り頂いたレビューは匿名を厳守し、評価精度の向上に役立てます。</p>
            <!-- TODO フォームのURL -->
            <p><a class="Btn" href="https://forms.gle/frjWpreC9EkLQmpw5">レビューを書く <img src="/ppe/image/external.svg" alt="外部サイトへ移動します"></a></p>
          </div>
        </div>
      </section>

      <section class="Section -hasSeparator" id="Precautions">
        <header class="HeadingAnchor">
          <h2>使用上の注意</h2>
          <a href="#Precautions"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <ul class="BulletedList">
            <li>前方に長いため、振り向き動作等で先端部が何かに衝突すると脱落・破損の恐れがあるため注意</li>
            <li>利用するクリアファイルによって視認性が低下する</li>
            <li>複数回利用でフレームの耐久性が低下する</li>
          </ul>
          <p>消毒の際は、消毒剤とクリアファイルの素材との相性に注意。クリアファイルには素材の規定が無いため。以下に消毒剤と素材の相性を示す。</p>
          <section id="Compatibility-of-disinfectants-and-materials">
            <h3 class="VisuallyHidden">消毒剤と素材の相性</h3>
            <section>
              <h4>拭き取り除染後アルコール噴霧消毒</h4>
              <dl class="InlineDescriptionList">
                <div>
                  <dt>⭕可能なもの:</dt>
                  <dd>PE（ポリエチレン）</dd>
                  <dd>PP（ポリプロピレン）</dd>
                </div>
                <div>
                  <dt>❌不可能なもの:</dt>
                  <dd>PET（ポリエチレンテレフタール）</dd>
                </div>
              </dl>
            </section>
            <section>
              <h4>次亜塩素酸ナトリウムによる拭き取り</h4>
              <dl class="InlineDescriptionList">
                <div>
                  <dt>⭕可能なもの:</dt>
                  <dd>なし</dd>
                </div>
                <div>
                  <dt>❌不可能なもの:</dt>
                  <dd>PE（ポリエチレン）</dd>
                  <dd>PP（ポリプロピレン）</dd>
                  <dd>PET（ポリエチレンテレフタール）</dd>
                </div>
              </dl>
            </section>
          </section>
        </div>
      </section>

      <section class="Section -hasSeparator" id="Call-for-improvements-idea">
        <header class="HeadingAnchor">
          <h2>改良案の募集</h2>
          <a href="#Call-for-improvements-idea"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p>前方に長いパターンは防護性能が高い代わりに「前方が長い」という点そのものが実務上のネックになる可能性があり、その点が改良されると対応可能な処置の幅が広がりそうです。  フレームが再利用でき、クリアファイルのみを交換する方式である点から運用の容易性が高く、防護性能的にはJIS規格準拠相当と優れたデザインであると思われます。</p>
          <p>上述の点の改善案がございましたら、考案者の方または等ウェブサイトの問い合わせメールアドレスまでご一報頂ければ幸いです。</p>
        </div>
      </section>

    </article>
    {% include "footer.njk" %}
  </body>
</html>
