---
date: Last Modified
url: https://covid-19-act.jp/ppe/face-shield/
title: ゴーグルとフェイスシールド一覧
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="医療用防護具の在庫不足の際に、正式な規格に基づいてはいないが緊急代替品として使用できるアイテムとその作り方が考案・発表されています。本サイトでは、一般社団法人 職業感染制御研究会による性能評価を加えてご紹介します。">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }} - 医療用防護具の代替品 性能評価と作り方 - Act Against COVID-19">
    <meta property="og:title" content="{{ title }} - 医療用防護具の代替品 性能評価と作り方 - Act Against COVID-19">
    <meta property="og:description" content="医療用防護具の在庫不足の際に、正式な規格に基づいてはいないが緊急代替品として使用できるアイテムとその作り方が考案・発表されています。本サイトでは、一般社団法人 職業感染制御研究会による性能評価を加えてご紹介します。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="http://covid-19-act.jp/ppe/image/OGP.png">
    <meta property="og:image:secure_url" content="https://covid-19-act.jp/ppe/image/OGP.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Act Against COVID-19 医療用防護具の代替品 性能評価と作り方">
    <title>{{ title }} - 医療用防護具の代替品 性能評価と作り方 - Act Against COVID-19</title>
    <link rel="icon" href="/ppe/image/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="mask-icon" href="/ppe/image/favicon.svg" color="yellow">
    <link rel="icon alternate" href="/ppe/image/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/ppe/image/apple-touch-icon.png" sizes="180x180">
    <link rel="stylesheet" href="/ppe/style.css">
    <link rel="canonical" href="{{ url }}">
    <script src="//webfont.fontplus.jp/accessor/script/fontplus.js?owI8-d2e8Dw%3D&amp;box=wzsij36dhRc%3D&amp;timeout=5&amp;aa=1&amp;ab=2"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162419995-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-162419995-4');
    </script>
  </head>

  <body>
    <nav class="Breadcrumb">
      <a class="Breadcrumb__crumb" href="https://covid-19-act.jp/ppe/">トップ</a>
      <img class="Breadcrumb__separator" src="/ppe/image/round-triangle-right.svg" alt="" />
      <b class="Breadcrumb__crumb" aria-current="true">ゴーグルとフェイスシールド一覧</b>
    </nav>
    <article>
      <header class="Header">
        <img class="Header__logo" src="/ppe/image/logo.svg" alt="Act Against COVID-19" width="332" height="86" />
        <p class="Header__main">
          <span>医療用防護具の代替品</span>
          <span>性能評価と作り方</span>
        </p>
        <p class="Header__note">評価は一般社団法人 職業感染制御研究会による</p>
        <h1 class="Header__sub">ゴーグルとフェイスシールド一覧</h1>
      </header>

      <nav>
        <ul class="ColumnList">
          <li>
            <div class="Item">
              <img class="Item__pict" src="/ppe/image/photos/face-shield-01_thumbnail.jpg" alt="" />
              <span class="Item__name">クリアシートとメガネで作る<br>フェイスシールド</span>
              <div class="Item__chip">
                <span class="Chip">手作り可</span>
                <span class="Chip">再利用可</span>
                <span class="Chip -recommended">医療推奨</span>
              </div>
            </div>
            <a class="Btn" href="./01.html">性能評価と作り方を見る</a>
          </li>
          <li>
            <div class="Item">
              <img class="Item__pict" src="/ppe/image/photos/face-shield-02_thumbnail.jpg" alt="" />
              <span class="Item__name">クリアファイルだけで作る<br>フェイスシールド</span>
              <div class="Item__chip">
                <span class="Chip">手作り可</span>
                <span class="Chip">再利用可</span>
                <span class="Chip -not-recommended">医療非推奨</span>
              </div>
            </div>
            <a class="Btn" href="./02.html">性能評価と作り方を見る</a>
          </li>
          <li>
            <div class="Item">
              <img class="Item__pict" src="/ppe/image/photos/face-shield-03_thumbnail.jpg" alt="" />
              <span class="Item__name">クリアファイルと3Dプリンタ<br>で作るフェイスシールド</span>
              <div class="Item__chip">
                <span class="Chip">手作り可</span>
                <span class="Chip">再利用可</span>
                <span class="Chip -recommended">医療推奨</span>
              </div>
            </div>
            <a class="Btn" href="./03.html">性能評価と作り方を見る</a>
          </li>
        </ul>
      </nav>

      <div class="Separator"></div>

      <section class="Section" id="Reviews">
        <header class="HeadingAnchor">
          <h2>評価について</h2>
          <a href="#Reviews"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>

        <section class="Section__nesting" id="Assessment">
          <h3 class="Section__heading">主な評価基準</h3>
          <dl class="AssessmentList">
            <div class="AssessmentList__row">
              <dt class="AssessmentList__key"><span>JIS規格相当</span></dt>
              <dd class="AssessmentList__value">JIS規格の準拠に相当すると思われるか</dd>
            </div>
            <div class="AssessmentList__row">
              <dt class="AssessmentList__key"><span>遮断性能</span></dt>
              <dd class="AssessmentList__value">正面および上部等からの飛沫の進入を十分に防げるか</dd>
            </div>
            <div class="AssessmentList__row">
              <dt class="AssessmentList__key"><span>運動フィット性</span></dt>
              <dd class="AssessmentList__value">小走りや振り向きなどの運動でズレないか</dd>
            </div>
            <div class="AssessmentList__row">
              <dt class="AssessmentList__key"><span>快適性</span></dt>
              <dd class="AssessmentList__value">息苦しさや接触などの不快感が防止されているか</dd>
            </div>
            <div class="AssessmentList__row">
              <dt class="AssessmentList__key"><span>使用耐久性</span></dt>
              <dd class="AssessmentList__value">使用中に想定される衝突や引っかきに耐えるか</dd>
            </div>
            <div class="AssessmentList__row">
              <dt class="AssessmentList__key"><span>消毒耐久性</span></dt>
              <dd class="AssessmentList__value">アルコールや次亜塩素酸ナトリウムによる除染・消毒に耐えるか</dd>
            </div>
            <div class="AssessmentList__row">
              <dt class="AssessmentList__key"><span>作製容易性</span></dt>
              <dd class="AssessmentList__value">作製に特別な練習を必要としないか</dd>
            </div>
            <div class="AssessmentList__row">
              <dt class="AssessmentList__key"><span>省コスト性</span></dt>
              <dd class="AssessmentList__value">材料の価格や入手などのハードルは低いか</dd>
            </div>
            <div class="AssessmentList__row">
              <dt class="AssessmentList__key"><span>再利用性</span></dt>
              <dd class="AssessmentList__value">適切な除染・消毒による再度利用は可能か</dd>
            </div>
          </dl>
        </section>

        <section class="Section__nesting">
          <h3 class="Section__heading">考案者の皆様へ</h3>
          <p>フェイスシールドとして満たしておきたい機能として、固定性の高さと、脱着時に防護面に触れにくいことなどが挙げられます。</p>
          <dl>
            <dt>防護面の推奨素材の例</dt>
            <dd>PE（ポリエチレン）, PP（ポリプロピレン）</dd>
          </dl>
          <p>素材が複合材料で構成されている場合は、主な材質に下線が引いてあります。</p>
        </section>
      </section>
    </article>

    {% include "footer.njk" %}
  </body>
</html>
