.Header {
  text-align: center;
}

.Header__main {
  margin-top: 3.75rem;
  font-family: "TazuganeGothicStdN-Heavy", sans-serif;
  font-size: 2.125rem;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.Header__logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 20.75rem;
  height: auto;
}

.Header__copy {
  margin-right: auto;
  margin-left: auto;
  max-width: 38.75rem;
  text-align: left;
}

.Header__sub {
  margin-top: 3.75rem;
  font-family: "TazuganeGothicStdN-Heavy", sans-serif;
  font-size: 2.125rem;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

