.Item {
  margin: 3.75em 0 0;
  font-size: 1.125rem;
  text-align: center;
}

.Item img {
  width: 100%;
  max-width: 18.75rem;
  height: auto;
  vertical-align: top;
}

.Item__name {
  display: block;
  margin-top: 1.25rem;
  font-family: "TazuganeInfoStdN-Bold", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.Item__pict {
  border-radius: 1.875rem;
}

.Item__chip {
  margin-top: 0.625rem;
  line-height: 1;
}

.ColumnList .Item {
  margin-top: 0;
}

