.ColumnList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.ColumnList > li {
  flex: 1 0 15.625rem;
  width: 15.625rem;
}

.ColumnList .-relative {
  position: relative;
}

@media (min-width: 426px) {
  .ColumnList {
    margin-right: -1.5625rem;
    margin-left: -1.5625rem;
  }
}

@media (min-width: 769px) {
  .ColumnList {
    margin-right: -1.875rem;
    margin-left: -1.875rem;
  }
}

.ColumnList li {
  list-style: inside none;
  margin-top: 3.75rem;
  max-width: 15.625rem;
}

@media (min-width: 426px) {
  .ColumnList li {
    margin-right: 1.5625rem;
    margin-left: 1.5625rem;
  }
}

@media (min-width: 769px) {
  .ColumnList li {
    margin-right: 1.875rem;
    margin-left: 1.875rem;
  }
}
