.DetailInfo {
  margin-top: 3.75rem;
}

.DetailInfo__image {
  position: relative;
  width: 100%;
  display: block;
  max-width: 900px;
  max-height: 550px;
  margin: 0 auto 40px;
  border-radius: 30px;
}

.DetailInfo__image::before {
  /* 1x1 spacer.gif */
  content: url("data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7");
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 61.111111111%; /* 900x550 */
  border-radius: 1.875rem;
  background-size: 100%;
}

.DetailInfo__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.875rem;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.-mask .DetailInfo__image::after {
  background-image: url(/ppe/image/illustrations/mask_placeholder-cover.jpg);
}

.-face-shield .DetailInfo__image::after {
  background-image: url(/ppe/image/illustrations/face-shield_placeholder-cover.jpg);
}

.-gown .DetailInfo__image::after {
  background-image: url(/ppe/image/illustrations/gown_placeholder-cover.jpg);
}

.-glove .DetailInfo__image::after {
  background-image: url(/ppe/image/illustrations/glove_placeholder-cover.jpg);
}

.-equipment .DetailInfo__image::after {
  background-image: url(/ppe/image/illustrations/equipment_placeholder-cover.jpg);
}
