.EvaluationsList {
  display: table;
  margin: 0 auto 50px;
  border-collapse: collapse;
}

.EvaluationsList__item {
  display: table-row;
}

.EvaluationsList__head,
.EvaluationsList__content {
  display: table-cell;
  padding-bottom: 37px;
}

.EvaluationsList__head {
  padding-right: 32px;
  vertical-align: top;
  white-space: nowrap;
}

.EvaluationsList__content {
  margin-left: 0;
}

.Evaluation__starRating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.Evaluation__stars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 8px;
}

.Evaluation__star.-white {
  opacity: 0.7;
}

.Evaluation__starRatingValue {
  margin-left: 8px;
}

@media (max-width: 427px) {
  .EvaluationsList,
  .EvaluationsList__item,
  .EvaluationsList__head,
  .EvaluationsList__content {
    display: block;
  }

  .EvaluationsList__item:not(:first-child) {
    margin-top: 24px;
  }

  .EvaluationsList__head,
  .EvaluationsList__content {
    padding: 0;
  }

  .EvaluationsList__head {
    line-height: inherit;
    font-family: "TazuganeInfoStdN-Bold", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
  }

  .EvaluationsList__content {
    margin-top: 8px;
    text-align: center;
  }

  .Evaluation__starRating {
    justify-content: center;
  }

  .Evaluation__starRatingValue {
    font-family: "TazuganeInfoStdN-Bold", sans-serif;
    font-weight: bold;
  }

  .EvaluationsList__description {
    display: block;
    font-size: 0.75rem;
  }
}
