.HeadingAnchor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.HeadingAnchor h2,
.HeadingAnchor h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.75rem;
}

@media (min-width: 426px) {
  .HeadingAnchor h2,
  .HeadingAnchor h3 {
    text-align: center;
  }
}

.HeadingAnchor a {
  padding-left: 0.25rem;
  width: 24px;
  height: 24px;
  line-height: inherit;
  background-image: url(/ppe/image/link.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 426px) {
  .HeadingAnchor a {
    opacity: 0;
  }

  :target .HeadingAnchor a,
  .HeadingAnchor a:focus,
  .HeadingAnchor:hover a {
    opacity: 1;
  }
}
