.Item {
  margin: 3.75em 0 0;
  font-size: 1.125rem;
  text-align: center;
}

.Item img {
  width: 100%;
  max-width: 18.75rem;
  height: auto;
  vertical-align: top;
}

.Item__name {
  display: block;
  margin-top: 1.25rem;
  font-family: "TazuganeInfoStdN-Bold", sans-serif;
  line-height: 1.8;
}

.Item__pict {
  position: relative;
  display: block;
  border-radius: 1.875rem;
  width: 300px;
  height: 300px;
}

.Item__pict::before {
  /* 1x1 spacer.gif */
  content: url('data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7');
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 1.875rem;
  border: 2px solid #fff;
  background-color: rgba(21,26,3,.05);
  background-size: 100%;
}

.Item__pict::after {
  content: "No Image Available";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Item__chip {
  margin-top: 0.625rem;
  line-height: 1;
}

.ColumnList .Item {
  margin-top: 0;
}
