.MetaInformationList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: -30px;
    padding: 0 60px;
  }

  .MetaInformationList__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .MetaInformationList__item:not(:last-child) {
    margin-right: 30px;
  }

  .MetaInformationList__label {
    font-size: 0.875rem;
    line-height: 1;
    white-space: nowrap;
  }

  .MetaInformationList__label span {
    padding: 2px 4px;
    border: 1px solid #151A03;
    border-radius: 4px;
  }

  .MetaInformationList__value {
    margin-left: 8px;
  }

  @media (max-width: 769px) {
    .MetaInformationList {
      display: table;
      margin-top: 0;
      padding: 0;
      font-size: 0.875rem;
    }

    .MetaInformationList__item {
      display: table-row;
      padding-bottom: 20px;
    }

    .MetaInformationList__label {
      display: table-cell;
      text-align: center;
      border: 3px solid transparent;
    }

    .MetaInformationList__label span {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
    }
  }

