.TagDescriptions {
  margin-top: 1.5625rem;
}
.TagDescriptions__row {
  margin-top: 1.25rem;
}
.TagDescriptions__value {
  margin-left: 0;
  max-width: 30rem;
}

.TagDescriptions__tag {
  margin: 0.2em 0;
}

@media (min-width: 768px) {
  .TagDescriptions__row {
    display: flex;
    align-items: flex-start;
  }
  .TagDescriptions__key {
    flex-grow: 1;
    width: 9rem;
    max-width: 9rem;

    display: flex;
    align-items: center;
  }
  .TagDescriptions__key span {
    flex-basis: 0%;
    width: 100%;
    white-space: nowrap;
  }
  .TagDescriptions__key::after {
    content: "";
    display: block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-top: 1px dashed rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 0;
  }
}
